$inputs-color:#d6d6d6;

.SearchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  margin-top: 10px;
  margin-bottom: 25px;
  border: 2px solid #2f353d;
  border-radius: 5px;

  .dates{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
    height: 80px;

    .date {
      width: 45%;

      input{
        margin: 5px 0;
        width: 100%;
        height: 30px;
        border:none;
        border-radius: 5px;
        background:$inputs-color;
        color: black;
      };
      
      p{
        margin: 0;
        padding: 0;
      };
    };
  };
  //dates-end
  .SearchFormSelectorsWrapper{
    display: flex;
    flex-direction: column;
    height: 110px;
    padding: 0 5px;
    margin: 5px;

    h4{
      margin: 0;
    };

    .SearchFormSelectors{
      display: flex;
      justify-content: space-between;
      width: 100%;

      .SearchFormSelectorWrapper{
        display: flex;
        flex-direction: column;
        width: 45%;

        p{
          margin: 0;
          padding: 0;
        };

        .SearchFormSelector{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 100%;
          
          select{
            width: 100%;
            height: 30px;
            margin: 5px 0;
            border:none;
            border-radius: 5px;
            background:$inputs-color;
            cursor: pointer;
          };
          
          label{
            margin: 5px;
          };
        };
      };
    };
  };
  //FlightsSelectorsWrapper-end

  .controlBtns{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    margin: 5px;
      
    .clearBtn, .searchBtn {
      width: 100px; 
      height: 30px;
      border: 0;
      border-radius: 5px;
      margin: 5px;
      font-size: 14px;
    };

    .clearBtn{
      background:$inputs-color;
      cursor: pointer;
    };

    .clearBtn:hover {
      background:#c7c7c7;
    };

    .searchBtn{
      background:#2f353d;
      color:#fff;
      cursor: pointer;
    };

    .searchBtn:hover {
      background:#2c3239;
    };
  };
  // controlBtns-end
};